/*  CSS  */


.modal-footer p { text-align: center; }

/* -- Center content -- */
.container, .navbar { 
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}
.outter-wrapper {
	height: 620px;
}
/* -- Top Navigation Bar -- */
.navbar-inverse .navbar-brand { color: #ffffff; }

.navbar-inverse * { color: #ffffff; }


.stage { 
	min-height: 500px;
	margin-top: 50px; }

/* -- nav pills -- */
.nav-pills>li>a { 
	border-radius: 0;
 }
.list-group-item:first-child {
     border-top-left-radius: 0; 
     border-top-right-radius: 0; 
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #6dbaf1;
    border-color: #6dbaf1;
}
.event_item { 
	text-align: center;
	font-weight: 600;
	font-size: 16px;
}
.tab-content {
	/*border-top: 1px solid #6dbaf1;*/
}

.section-header {
	padding: 10px 0;
	text-align: center;
	position: relative;
	background: #d9d9d9;
}
.add_button { 
	font-size: 20px;
	position: absolute;
	top: 10px;
	left: 20px;
}
#event-input {
	text-align: center;
	display: inline-block;
	margin-left: 5px;
	max-width: 390px; }

.section-header h3 { margin-top: 0; } 

.edit_button { 
	font-size: 18px;
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
}
footer {
	padding: 10px 0;
	text-align: center; 
	color: #fff;
	background: #3f3f3f;
}
/* -- nav pills -- */
.modal-body { padding:40px 50px; }

/* ==== Media Queries ==== */
@media only screen and (max-width: 768px) {
	.nav-pills>li {
	    display: table-cell;
	    width: 1%;
	}
}