/*  CSS  */
body {
	user-select: none; 
}
.modal-footer p { text-align: center; }

/* ---- Center content ---- */
.container, .navbar { 
	max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}
.outter-wrapper {
	min-height: 620px;
	border-left: 1px solid #bfbfbf;
	border-right: 1px solid #bfbfbf;
	border-bottom: 1px solid #bfbfbf;
}
/* ---- Top Navigation Bar ---- */
.navbar-inverse .navbar-brand { color: #ffffff; }

.navbar-inverse * { color: #ffffff; }

.stage {
	position: relative;
	min-height: 500px;
	margin-top: 50px;
}
.stage button {
	width: 90px;
}

/* ---- nav pills ---- */
.tab-buttons { position: relative; }

.nav-pills>li>a { 
	border-radius: 0;
 }

.list-group-item:first-child {
     border-top-left-radius: 0; 
     border-top-right-radius: 0; 
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #6dbaf1;
    border-color: #6dbaf1;
}
.event-item { 
	/*text-align: center;*/
	font-weight: 600;
	font-size: 16px;
}
.event-item.SELECTED { background-color: #f6b008; }

.tab-content {
	/*border-top: 1px solid #6dbaf1;*/
}

.section-header, .mod-header { 
	min-height: 50px;
	padding-top: 20px;
	padding-bottom: 5px;
	text-align: center;
	position: relative;
	background: #d9d9d9;
}

#event-input, #amount-input {
	text-align: center;
	display: inline-block;
	margin-left: 5px;
}
#event-input {
	margin-top: 30px;
	max-width: 300px;
}
#amount-input {
	width: 95px;
}
#add-person { background: #6dbaf1; }

#add-person .glyphicon-plus-sign {
	font-size: 20px;
	color: #ffffff;
}
#person-input {
	margin-left: 10px;
	display: inline-block;
	width: 300px;
}
.section-header h3 { margin-top: 0; } 

.section-header button, .mod-header button  {
	font-size: 18px;
	position: absolute;
	top: 10px;
}
/* ---- Add / Edit Button ---- */
.section-header .add-btn,
.mod-header .cancel-btn {
	left: 10px;
}
.section-header .edit-btn,
.mod-header .done-btn {
	right: 10px;
}
button.cal-btn {
	right: 10px;
	width: auto;
	padding: 10px 10px;
}
.remove-btn {
	font-size: 18px;
	position: absolute;
	top: 12px;
	right: 12px;
	display: none;
}
.edit-btn.mod .edit-text { display: none; }

.edit-btn .done-text { display: none; }
.edit-btn.mod .done-text { display: inline; }

.glyphicon.SHOW { display: inline; }

#mod {
	position: absolute;
	overflow: hidden;
	bottom: 0;
	width: 100%;
	height: 0;
	transition: height 0.3s ease-out;
}
.mod-content form {
	display: none;
}

body.mod #mod {
	height: 100%;
}
#mod .mod-content {
	width: 100%;
	height: 100%;
	background-color: #ffffff;
}
.mod-header { 
	margin-bottom: 10px;
}
footer {
	padding: 10px 0;
	text-align: center; 
	color: #fff;
	background: #3f3f3f;
}
/* ---- nav pills ---- */
.modal-body { padding:40px 50px; }

/* ==== Media Queries ==== */
@media only screen and (max-width: 768px) {
	.nav-pills>li {
	    display: table-cell;
	    width: 1%;
	}
}